#footer__content {
	background-color: var(--cor-terciaria);
	font-size: var(--font-size-texto);
	font-family: var(--font-secundaria);
	font-weight: 400;
	color: var(--cor-primaria);
	text-align: center;
	padding: 24px;
	margin-top: 6%;
}
